* {
    background-color: rgb(245, 220, 57);
    color: rgb(58, 103, 54);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innercontainer {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: rgb(167, 199, 6);
    color: rgb(244, 244, 244);
    border: 2px solid white;
    font-size: 40px;
}

#result {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}